*
{
	padding: 0;
	margin: 0;
}
#toggle-edit
{
	background-color: #333333;
	border: none;
	position: absolute;
	top:200px;
	left: 5px;
	z-index: 100;
}
body
{
	font-family: 'Verdana', sans-serif;
	min-width: 320px;
	font-size: 15px;
	height: 100%;
}

nav
{
	height: 47px;
	line-height: 47px;
}

nav .container
{
	height: 47px;
	line-height: 47px;
}

.navbar-brand
{
	height: 47px;
	left: 0;
}
.navbar-brand a
{
	color:#9d9d9d;
}

.navbar-brand a:hover
{
	color:#ffffff;
	text-decoration: none;
}

#top_menu
{
	border: 0px;
}

.menu
{
	margin: 0px;
}


.btn
{
	background-color: transparent;
	border: 0px;
	color: #ffffff;

}

.btn:hover,
.btn:focus
{
	background-color: #009900;
	color: #ffffff;
}

.form-signin button
{
	background-color: #333;
}

#about
{
	position: absolute;
	z-index: 99;
	text-transform: none;
	padding: 5px;
	margin-top: 50px;
}

.authorized
{
	display: none !important;
}

.unauthorized
{
	display: inline-block !important;
}

.menu li
{
	display: inline-block;
}

.text-center
{
	margin-bottom: 0px;
}


#avatar
{
	width: 30px;
	height: 35px;
	background-color: #fff;
}

.glyphcon
{
	color: white;
}

.navbar-toggle
{
	margin:0px;
	padding: 0px 15px;
	border: 0px;
}

.navbar-toggle span
{
	color: white;
}

#login_area
{
	font-size: 14px;
	color: white;
}

a.btn
{
	padding: 6px 12px;
}
