*
{
	padding: 0;
	margin: 0;
}

.blur
{
	filter: blur(3px);
}

body
{
	font-family: 'Verdana', sans-serif;
	min-width: 320px;
	font-size: 16px;
	height: 100%;
}

nav
{
	height: 47px;
	line-height: 47px;
}

nav .container
{
	height: 47px;
	line-height: 47px;	
}

.navbar-brand
{
	height: 47px;	
}
.navbar-brand a
{
	color:#9d9d9d;
}

.navbar-brand a:hover
{
	color:#ffffff;
	text-decoration: none;
}

#top_menu
{
	border: 0px;
}

.menu
{
	margin: 0px;
}

.menu li a
{
	padding: 10px;
}


.btn
{
	background-color: transparent;
	border: 0px;
	color: #ffffff;

}

.btn:hover,
.btn:focus
{
	background-color: #009900;
	color: #ffffff;
}

.form-signin button
{
	background-color: #333;
}

#about
{
	text-transform: none;
	padding: 5px;
	margin-top: 50px;
}

#sign-in
{
	filter: blur(0px);
}

.map_layout
{
	width: 100%;
	height: 500px;
}

.panel-footer
{
	margin-bottom: 0px;
}

.authorized
{
	display: none !important;
}

.unauthorized
{
	display: inline-block !important;
}

.menu li
{
	display: inline-block;
}
/*
.m0
{
	margin:0;
}

header
{
	
}

a:hover
{
	text-decoration-style: none;
}

.menu
{
	list-style-type: none;
}

.menu li
{
	display: inline-block;
}

.test
{
	background-color: #f00;
	height: 500px;
}*/