<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GpsTrackingDBEntities" connectionString="metadata=res://*/DataContext.GpsTrackerDbModel.csdl|res://*/DataContext.GpsTrackerDbModel.ssdl|res://*/DataContext.GpsTrackerDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gpstrackingserver.database.windows.net;initial catalog=GpsTrackingDB;persist security info=True;user id=admin123;password=Password123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>